.demoFeed-wrap {
  top:0;
  position: absolute;
  padding: 0px;   
  margin: auto; 
  z-index: -1;
}
.modal-body{
    background-color: white !important;
}

.demoFeed-header {
  height: 35px !important;
  background-color: #cfcece !important;
}

.demoFeed-text {
   
    color: black !important;
    border: none !important;
    padding: 7px !important;
    background-color: white !important;
    margin-left: 8px;
    font-weight: 600;
}

.demoFeed-close-btn {
  background-color: #312f2f !important;
  height: 25px !important;
  border: 0.1px solid white !important;
  margin: 0px;
  padding: 0px;
  width: 23px;
}

/* .demoFeed-content {
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #bbbbbb;
    padding-left: 5px;
    padding-right: 5px;
  } */
.modal {
  --bs-modal-padding: 0rem !important;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 680px !important;
  }
}
@media (max-width: 800px) {
  .demoFeed-wrap {
    top:7%;
    position: absolute;
    width: 100%!important;
    height: 80%!important;
    padding: 0px;   
    margin: auto; 
  }
}

@media (min-width: 800px) and (max-width:900px) {
  .demoFeed-wrap {
    position: absolute;
    width: 85%!important;
    height: 80%!important;
    padding: 0px;   
    margin: auto; 
  }
}
/* @media (min-width: 900px) and (max-width:1200px) {
  .demoFeed-wrap {
    position: absolute;
    width: 88%!important;
    height: 80%!important;
    padding: 0px;   
    margin: auto; 
  }
}
@media (min-width: 1200px) and (max-width:1400px) {
  .demoFeed-wrap {
    position: absolute;
    width: 85%!important;
    height: 80%!important;
    padding: 0px;   
    margin: auto; 
  }
} */